{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'Login/images/fevflightworld.png' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'Login/CSS/signup.css' %}" />
    <title>FLY SHARE | Login & Registration</title>
    <style>
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #581ed6;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2,
      h3 {
        color: white;
        margin-bottom: 10px;
        margin-top: 20px; /* Add margin between headings and content */
      }
      ul {
        list-style-type: disc;
        margin-left: 20px;
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="back-button">
      <a href="{% url 'index' %}" class="back-link">
        <span class="back-arrow">&lt;</span> Back
      </a>
    </div>
    <div class="wrapper">
      <div class="register-container">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-danger" id="error-message">{{ message }}</div>
        <script>
          // Set a timeout to hide the error message after 5 seconds
          setTimeout(function () {
            var errorMessage = document.getElementById("error-message");
            if (errorMessage) {
              errorMessage.style.display = "none";
            }
          }, 5000);
        </script>
        {% endfor %} {% endif %}
        <form
          action=""
          method="POST"
          onsubmit="return checkPassword(event);"
          id="registration-form"
        >
          {% csrf_token %}
          <div class="Top">
            <header>Sign Up</header>
          </div>
          <div class="two-forms">
            <div class="input-box">
              <input
                type="text"
                class="input-field"
                placeholder="Firstname"
                name="first_name"
                required
              />
              <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
              <input
                type="text"
                class="input-field"
                placeholder="Lastname"
                name="last_name"
              />
              <i class="bx bx-user"></i>
            </div>
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Username"
              name="username"
              id="username"
              required
            />
            <i class="bx bx-user"></i>
            <p id="username-reminder" style="color: grey"></p>
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Email"
              name="email"
              required
            />
            <i class="bx bx-envelope"></i>
          </div>
          <div class="input-box">
            <input
              type="password"
              class="input-field"
              placeholder="Password"
              name="password1"
              id="password"
              required
            />
            <i class="bx bx-lock-alt"></i>
            <input
              type="password"
              class="input-field"
              placeholder="Confirm Password"
              name="password2"
              id="cnfrm-password"
              required
            />
            <i class="bx bx-lock-alt"></i>
          </div>
          <div id="password-error" style="color: red"></div>
          <div class="input-box">
            <input
              type="submit"
              class="submit"
              value="Register"
              name="register"
            />
          </div>
        </form>

        <div class="two-col">
          <div class="bottom">
            <span
              >Have an account?
              <a href="{% url 'login' %}" style="color: #ffa500">Login</a></span
            >
          </div>
        </div>
      </div>

      <div class="container">
        <h2>Criteria</h2>
        <ul>
          <li>Once you registered, username cannot be changed.</li>
          <li>
            Enter a valid Email-id.
            <span class="message"
              >(Note: Each email ID can only be used once.)</span
            >
          </li>
          <h3>Password must meet the following criteria:</h3>
          <li>Minimum length 8 Characters.</li>
          <li>At least one uppercase letter.</li>
          <li>At least one lowercase letter.</li>
          <li>At least one numeric digit.</li>
          <li>At least one special character.</li>
        </ul>
      </div>
    </div>

    <script>
      function checkPassword(event) {
        event.preventDefault(); // Prevent form submission

        let password = document.getElementById("password").value;
        let cnfrmPassword = document.getElementById("cnfrm-password").value;
        let errorDiv = document.getElementById("password-error");

        // Add your password validations here
        var minLength = 8;
        var hasUpperCase = /[A-Z]/.test(password);
        var hasLowerCase = /[a-z]/.test(password);
        var hasNumber = /\d/.test(password);
        var hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password);
        if (password.length !== 0) {
          if (password === cnfrmPassword) {
            if (
              password.length >= minLength &&
              hasUpperCase &&
              hasLowerCase &&
              hasNumber
            ) {
              errorDiv.textContent = ""; // Clear the error message
              // errorDiv.style.backgroundColor = "#1dcd59";
              document.getElementById("registration-form").submit(); // Submit the form
            } else {
              let errorMessage = "Password must meet the following criteria:\n";

              if (password.length < minLength) {
                errorMessage += "- Minimum length is " + minLength + "\n";
              }

              if (!hasUpperCase) {
                errorMessage += "- At least one uppercase letter\n";
              }

              if (!hasLowerCase) {
                errorMessage += "- At least one lowercase letter\n";
              }

              if (!hasNumber) {
                errorMessage += "- At least one numeric digit\n";
              }
              if (!hasSpecialChar) {
                errorMessage += "- At least one special character\n";
              }
              errorDiv.textContent = errorMessage;
              // errorDiv.style.backgroundColor = "#ff4d4d";

              // Set a timeout to clear the error message after 5 seconds
              setTimeout(function () {
                errorDiv.textContent = "";
              }, 5000);
            }
          } else {
            errorDiv.textContent = "Passwords don't match";
            // errorDiv.style.backgroundColor = "#ff4d4d";

            // Set a timeout to clear the error message after 5 seconds
            setTimeout(function () {
              errorDiv.textContent = "";
            }, 5000);
          }
        } else {
          errorDiv.textContent = "Password can't be empty!";
          // errorDiv.style.backgroundColor = "#ff4d4d";

          // Set a timeout to clear the error message after 5 seconds
          setTimeout(function () {
            errorDiv.textContent = "";
          }, 5000);
        }
      }
    </script>
    <script>
      var username = document.getElementById("username").value;
      var usernameReminder = document.getElementById("username-reminder");

      if (username !== "") {
        usernameReminder.innerHTML =
          "Note: Once the username is entered, it cannot be changed.";
      } else {
        usernameReminder.innerHTML = "";
      }
    </script>
  </body>
</html>
<div>{% block content %} {% endblock %}</div>
